@media only screen and (max-width: 479px) {
    .rowmenu{
        background:rgba(221,230,230,0.8) !important;
    } 
}
@media only screen and (min-width: 479px) {
    body{
        background-image:url('../images/fondo0.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .over-menu:hover{
        background:url('../images/linea2.png');
        background-repeat: no-repeat;
        background-size:auto;
        cursor:pointer;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    height:100%;
}
.cabecera{
    background-image:url('../images/fondo0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;  
    width:100%;
}
html {
    height: 100%
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    /*padding: 0 0 60px;*/
}
/*
.wrap > .container {
    padding: 70px 15px 20px;
}
*/
.container{
    padding:0px !important;
    margin:0px !important;
    width:100% !important;
    height:100%;
}
.container-fluid{
    padding:0px !important;
}
.row{
    margin:0px !important;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}



.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.menu{
    margin-top:10px;
    text-align: right;
}
.over-menu{
    text-align: center;
    padding:10px;
}
.amenu{
    color:black;
}
.amenu:hover{
    cursor:pointer;
    text-decoration: none;
}
.rowmenu{
    background:rgba(255,255,255,0.7);
}
.rutas{
    width:90%;
    height:400px;
    margin: 50px auto;
}
.rutas-ch{
    width:90%;
    margin: 0 auto;
    height:100%;
}
.busca{
    background:white;
    width:300px;
    height:370px;
    border-radius: 20px;
    text-align: left;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 10px;
    padding-right: 10px;
}
.rutasrow{
    text-align: center;
}
.letra-busca{
    font-size: 30pt;
    font-weight: bold;
    line-height: 27pt;
}
.buscar{
    width:100%;
    text-align:left;
    border-radius:5px;
    border:1px solid #cccccc;
    padding-left: 10px;
}
.lupa{
    position:relative;
    top:-33px;
    left:245px;
}
.lupa:hover{
    cursor:pointer;
}
.ruta:hover{
    cursor:pointer;
}
.chica{
    width:90%;
    margin:50px auto;
    background:white;
    border-radius: 10px;
    padding:20px;
}
.no-decoration{
    text-decoration: none;
    color: black;
}
.no-decoration:hover{
    text-decoration: none;
    color: black;
}

.pie{
    height:70px !important;
    width:100%;
    background:white;
    position: fixed;
    bottom: 0px;
    opacity: 0.8;
}
.img-footer{
    width:100%;
    height: 5px;
}
.img-logo{
    height: 40px;  
}
.logos{
    text-align:center;
    width:100%;
}
.logos td{
    width:20%;   
}
.linea-ch{
    height:3px;
    width:100%;
}
.letra-busca-ch{
    font-size: 22pt;
    font-weight: bold;
    line-height: 27pt;
    text-align:center;
}
.busca-ch{
    background:white;
    width:100%;
}
.sandwich{
    margin-top:5px;
}
.img-ruta-ch{
    text-align: center;
}
.ruta-img{
    width:100%;
}
.abierto{
    width:100%;
    background: rgba(255,255,255,0.7);
    padding-inline-start: 5px;
    margin-block-end: 2px;
}
.abierto li{
    text-align: center;
    list-style-type: none;
    padding: 5px;
    border-bottom:1px solid silver;
    border-left:1px solid silver;
    border-radius:3px;
}