body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
    height:100%;
}
html {
    height: 100%
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    /*padding: 0 0 60px;*/
}
.container-fluid{
    padding:0px !important;
}
.row{
    margin:0px !important;
}
.container{
    padding:0px !important;
    margin:0px !important;
    width:100% !important;
    height:100%;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.menu{
    margin-top:10px;
    text-align: right;
}
.over-menu{
    text-align: center;
    padding:10px;
}
.over-menu:hover{
    background:url('../images/linea2.png');
    background-repeat: no-repeat;
    background-size:auto;
    cursor:pointer;
}
.amenu{
    color:black;
}
.nopadding{
    padding:0px;
}
.amenu:hover{
    cursor:pointer;
    text-decoration: none;
}
.rowmenu{
    background:rgba(124,252,243,0.1);
}
@media (max-width: 1366px) and (min-width: 768px) {
    
}
.galeria{
    margin-top:5px;
}
.miniaturas td{
    padding-left:5px;
    padding-bottom:5px;
}
.miniaturas{
    margin-top:5px;
}
.linea{
    margin-top:-15px;
}
.votaciones{
    width:100%;
    margin-top:10px;
}
.calificaciones{
    border:1px silver solid;
    width:100%;
    max-width: 350px;
}
.calificaciones td{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
}
.outer-votos{
    height:20px;
    border:1px solid silver;
}
.votos{
    background:#03a099;
    font-size:17px;
    position:relative;
    top:-3px;
}
.rombo{
    background:#03a099;
    transform: rotate(45deg);
    width:20px;
    height:20px;
    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:15px;
    margin-left:15px;
}
.rombo-gris{
    background:silver;
    transform: rotate(45deg);
    width:20px;
    height:20px;
    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:15px;
    margin-left:15px;
}
.titulo{
    font-size:25pt;
    font-weight: bold;
}
.mapa{
    width:100%;
    height:100%;
    background:red;
}
.no-decoration{
    text-decoration: none;
    color: black;
}
.no-decoration:hover{
    text-decoration: none;
    color: black;
}

.pie{
    height:70px !important;
    width:100%;
    background:white;
    position: fixed;
    bottom: 0px;
    opacity: 0.8;
}
.img-footer{
    width:100%;
    height: 5px;
}
.img-footer{
    width:100%;
    height: 5px;
}
.img-logo{
    height: 40px;  
}
.logos{
    text-align:center;
    width:100%;
}
.logos td{
    width:20%;   
}
.abierto{
    width:100%;
    background: rgba(255,255,255,0.7);
    padding-inline-start: 5px;
    margin-block-end: 2px;
}
.abierto li{
    text-align: center;
    list-style-type: none;
    padding: 5px;
    border-bottom:1px solid silver;
    border-left:1px solid silver;
    border-radius:3px;
}
.filtros{
    background:rgba(255,255,255,0.4);
    border-radius:5px;
    z-index:1000;
    position:absolute;
    padding-right: 3px;
    font-size:9pt;
}
.abierto{
    position:absolute;
    z-index:1000;   
}
.imagen{
    padding:3px;
    height:35px;
}
.chb{
    position:relative;
    top:3px;
}
.chica{
    width:200px;
}
.linea{
    width:200px;
    height:5px;
    margin-top:5px;
}
.link{
    color:black;
}
.link:hover{
    text-decoration:none;
}