html {
    height: 100%
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    /*padding: 0 0 60px;*/
}
/*
.wrap > .container {
    padding: 70px 15px 20px;
}
*/
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.nopadding{
    padding:0px;
}
.no-decoration{
    text-decoration: none;
    color: black;
}
.no-decoration:hover{
    text-decoration: none;
    color: black;
}
.cuadro{
    border:10px solid white;
}
.rotado{
    transform: rotate(45deg);
}
.imagen1{
    background:url('../images/galeria/1_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen2{
    background:url('../images/galeria/2_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen3{
    background:url('../images/galeria/3_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen4{
    background:url('../images/galeria/4_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen5{
    background:url('../images/galeria/5_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen6{
    background:url('../images/galeria/6_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen7{
    background:url('../images/galeria/7_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen8{
    background:url('../images/galeria/8_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen9{
    background:url('../images/galeria/9_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen10{
    background:url('../images/galeria/10_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen11{
    background:url('../images/galeria/11_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imagen12{
    background:url('../images/galeria/12_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.actividades{
    background:url('../images/galeria/experiencias.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
}
.cuadro:hover{
    cursor:pointer;
}
.telon{
    background:red;
    opacity: 0.75;
    position:fixed;
    top:0px;
}
.sobre-telon{
    background:black;
    opacity: 0.75;
    position:fixed;
    top:0px;
}
.lienzo{
    background:white;
    z-index: 1000;
    position:fixed;
    top:5px;
}
.x{
    position:relative;
    top:2px;
}
.x:hover{
    cursor:pointer;
}
.marco{
    margin-left:10px;
}
.linea{
    position:relative;
    height: 4px;
    top:3px;
}
.nombre{
    font-size:15pt;
    margin-top:-10px;
    text-align: center;
}