@media only screen and (max-width: 479px) {
    .gr{
        display: none;
    }
    .md{
        display: none;
    }
    .ch{
        display: block;
    }
    .chmd{
        display: block;
    }
    .mdgr{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 479px) {
    .gr{
        display: none;
    }
    .md{
        display: block;
    }
    .ch{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
    .gr{
        display: block;
    }
    .md{
        display: none;
    }
    .ch{
        display: none;
    }
    .chmd{
        display: none;
    }
    .mdgr{
        display: block;
    }
}